div {
    float: left
}

div.tooltip {
    position: absolute;
    text-align: left;
    padding: 10px;
    font: 14px helvetica;
    background: white;
    border: 5px;
    border-color: black;
    pointer-events: none;
    box-shadow: 1px 1px 2px 2px #888888;
}

.box select {
    color: black;
    padding: 12px;
    width: 200px;
    border: none;
    font-size: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

b {
    font: 15px helvetica;
}
